<div class='container'>
  <h2> Admin Dashboard </h2>
  <button ng-click='getStats()'> Get User Search Statistics </button>
  <div class='results' ng-show='adminResults'>
    <h3> Stats from the beginning of time </h3>
    <div class='stats-all' ng-model='stats'>
      <div class='stat-item' ng-repeat='stat in stats'>
        <div class='row'>
          <div class='col'>
            {{ stat.searchKeywords }}
          </div>
          <div class='col'>
            {{ stat.zipcode }}
          </div>
          <div class='col'>
            {{ stat.dateTime }}
          </div>
          <div class='col'>
            {{ stat.ipAddress }}
          </div>
          <div class='col'>
            {{ stat.client }}
          </div>
      </div>
    </div>
  </div>
</div>