<div class='container'>
  <h2> Admin Dashboard </h2>

  <div class='tracking'>
    <h3> HTML Tracking </h3>
    <form>
      <input type='text' placeholder='place your code here' ng-model='trackingCode'></input>
      <button type='submit' ng-click='saveTrackCode()'> Save tracking code </button>
    </form>
  </div>

  <div class='stats'>
    <h3> User Search Statistics</h3>
    <button ng-click='getStats()'> Get Stats </button>
    <div class='stats-results' ng-show='adminResults'>
      <h3> Stats from the beginning of time </h3>
      <div class='stats-all' ng-model='stats'>
        <div class='stat-item' ng-repeat='stat in stats'>
          <div class='row'>
            <span class='col'>
              {{ stat.searchKeywords }}
            </span>
            <span class='col'>
              {{ stat.zipcode }}
            </span>
            <span class='col'>
              {{ stat.dateTime }}
            </span>
            <span class='col'>
              {{ stat.ipAddress }}
            </span>
            <span class='col'>
              {{ stat.client }}
            </span>
            <br/><br/>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
